<article class="media">
  <figure class="media-left">
    <p class="image is-128x128 is-pulled-right">
      <img class="is-rounded" src='http://www.github.com/{{site.social.github}}.png' height='128px'>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <div id="badges"></div>
      <p>
        <small>🇲🇽 👨‍💻 @{{site.social.twitter}}</small> | <small>Software Engineer</small>
        <br>
        Thanks for getting here, nice to meet you. 👋
        <br>
        <br>
        My name is Luis and I am a software engineer and I really love my job.<br>
        I am also a foodie, amateur photographer, jetsetter, and hobbies adventurer.
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item" href="https://github.com/{{site.social.github}}">
          <span class="fab fa-github"></span>
        </a>
        <a class="level-item" href="https://instagram.com/{{site.social.instagram}}">
          <span class="fab fa-instagram"></span>
        </a>
        <a class="level-item" href="https://twitter.com/{{site.social.twitter}}">
          <span class="fab fa-twitter"></span>
        </a>
        <a class="level-item" href="http://www.linkedin.com/in/{{site.social.linkedin}}">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </nav>
  </div>
</article>
