<div class="footer">
  <div class="pure-menu pure-menu-horizontal">
    <ul>
      <li class="pure-menu-item"><a href="https://github.com/{{site.social.github}}"><span class="fab fa-github"></span></a></li>
      <li class="pure-menu-item"><a href="https://instagram.com/{{site.social.instagram}}"><span class="fab fa-instagram"></span></a></li>
      <li class="pure-menu-item"><a href="https://twitter.com/{{site.social.twitter}}"><span class="fab fa-twitter"></span></a></li>
    </ul>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
