<div class="container w-1/5">
  <div class="">
    <header class="">
      <a href="/">
        <figure class="">
          <img class="" src="https://s.gravatar.com/avatar/acb85d71b90905e69b95fd02fbe6f828?s=128">
        </figure>
      </a>
      <h1 class="">{{ site.title }}</h1>
      <h2 class="">{{ site.description }}</h2>
      <a class="" title="When you want to read me" href="{{"/posts" | relative_url }}">
        <i class="fa fa-bullhorn"></i> Blog
      </a>
      &nbsp;
      <a class="" title="When You want to hire me" href="{{"/about" | relative_url }}">
        <i class="fa fa-address-card"></i> About
      </a>
    </header>
  </div>
</div>
