<section class="section">
  <div class="container">
    <header class="content has-text-right">
      <a href="/">
        <figure class="image is-128x128 is-pulled-right">
          <img class="is-rounded" src="https://secure.gravatar.com/avatar/acb85d71b90905e69b95fd02fbe6f828.png?s=128">
        </figure>
      </a>
      <h1 class="title is-2 has-text-white">{{ site.title }}</h1>
      <h2 class="subtitle is-4 has-text-white">{{ site.description }}</h2>
      <a class="has-text-white" title="When you want to read me" href="{{"/posts" | relative_url }}">
        <i class="fas fa-bullhorn"></i> Blog
      </a>
      &nbsp;
      <a class="has-text-white" title="When You want to hire me" href="{{"/about" | relative_url }}">
        <i class="far fa-address-card"></i> About
      </a>
    </header>
  </div>
</section>
