@import "vendor/pure-layout-blog/blog";
@import "syntax-highlighting";

.content {
  color: #424242;
}
img.rounded-circle {
  border-radius: 50%;
}

.float-right { float: right; }
.float-left { float: left; }

@media print{
  .no-print,.no-print *, header, footer, .sidebar { display: none !important; }
  .page-break {
    page-break-before: always;
  }
}
