---
layout: default
background: /assets/images/post-bg.jpg
---
{{ content }}
{% for post in site.posts limit : 5 %}
<section class="post">
  <header class="post-header">
    <!-- <img width="48" height="48" alt="Luis Ezcurdia&#x27;s avatar" class="post-avatar" src="https://github.com/3zcurdia.png"> -->
    <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
    <p class="post-meta">
      By
      <a class="post-author" href="#">
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
      </a>
      on {{ post.date | date: '%B %d, %Y' }}
    </p>
  </header>
  <div class="post-description">
    {% if post.subtitle %}
    {{ post.subtitle }}
    {% else %}
    {{ post.excerpt | strip_html | truncatewords: 25 }}
    {% endif %}
  </div>
</section>
{% endfor %}
