---
layout: default
---
<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-three-quarters">
        {{ content }}
        <article class="content">
          {% for post in site.posts limit : 5 %}
          <h1 class="title">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
          </h1>
          <p class="subtitle is-5">{{ post.date | date: '%B %d, %Y' }}</p>
          <p>
            {% if post.subtitle %}
            {{ post.subtitle }}
            {% else %}
            {{ post.excerpt | strip_html | truncatewords: 25 }}
            {% endif %}
          </p>
          {% endfor %}
        </article>
      </div>
    </div>
  </div>
</section>
