---
layout: default
---

<section class="">
  <div class="">
    <h1 class="">{{ page.title }}</h1>
    <h2 class="">
      {% if page.description %}
      {{ page.description }}
      {% endif %}
    </h2>
    <hr>
    <p class="">{{ page.date | date: '%B %d, %Y' }}</p>
    <br>
    <div class="">
      <div class="">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="">
    <div class="">
      <div class="">
        {% if page.previous.url %}
        <a class="" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
